body {
  font-family: 'Marvel', sans-serif; }
  body h1, body h2 {
    font-family: 'Satisfy', cursive; }

#navLogout {
  display: none; }

.navbar {
  z-index: 10;
  margin-bottom: 0px; }

.navbar-default .navbar-nav > li > a {
  color: lightSteelBlue; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #333;
    text-decoration: none;
    cursor: pointer; }
