link(rel="stylesheet", href="/css/dashboard.css")

.container
  .row
    #viewProfile.col-xs-6
      h1(ui-sref="profile").link View Profile
    .col-xs-6
      h1(ui-sref="search").link Recommend Books
