
<link rel="stylesheet" href="/css/profile.css"/>
<div class="container">
  <h1>Editing Your Profile!</h1><br/>
  <label>Current Image:</label><img ng-src="{{user.imageUrl}}" alt="Image not found."/>
  <p>Username: {{user.username}}</p>
  <p>E-Mail: {{user.email}}</p><br/><br/>
  <form ng-submit="updateProfile()">
    <div class="form-group">
      <label>Image URL:</label>
      <input type="text" ng-model="user.imageUrl" class="form-control"/>
    </div>
    <div class="form-group">
      <label>Location (zip code):</label>
      <input type="number" ng-model="user.location" min="501" max="99999" class="form-control"/>
    </div>
    <div class="form-group">
      <label>About: </label>
      <input type="text" ng-model="user.blurb" class="form-control"/>
    </div>
    <div class="form-group">
      <label>Favorite Books: </label>
      <input type="text" value="{{user.favoriteBooks}}" ng-model="user.favoriteBooks" class="form-control"/>
    </div>
    <div class="form-group">
      <label>Disliked Books: </label>
      <input type="text" value="{{user.dislikedBooks}}" ng-model="user.dislikedBooks" class="form-control"/>
    </div>
    <button class="btn btn-success">Save Changes</button>
    <button ui-sref="profile" class="btn btn-danger">Cancel</button>
  </form>
</div>